.layer_popup {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 20;
    display: none;
    .pop_data {
        @include positionLayout(absolute, center);
        background-color: #fff;
        padding: 40px;
        border: 1px solid #e6e8eb;
        border-radius: 15px;
        @include flexLayout(column, flex-start, stretch);
        gap: 15px;
        max-width: 90vh;
        .head {
            @include flexLayout(row, space-between, center);
            gap: 25px;
            margin-bottom: 25px;
            h6 {
                width: calc(100% - 45px);
                font-size: 18px;
                font-weight: 700;
                @include ellipsis(1);
            }
            button {
                width: 20px;
                height: 20px;
                background-color: transparent;
                border: none;
            }
        }
    }
    &#itemLotPopup {
        .pop_data {
            padding: 40px 30px 40px 40px;
            .body {
                max-height: 500px;
                @include scrollbar();
                overflow-x: hidden;
                overflow-y: auto;
                > ul {
                    @include flexLayout(column, flex-start, center);
                    gap: 20px;
                    li {
                        width: 100%;
                        @include flexLayout(column, flex-start, center);
                        padding-bottom: 20px;
                        border-bottom: 1px solid #d3d3d3;
                        gap: 20px;
                        dl {
                            &.lot,
                            &.stock {
                                @include flexLayout(row, space-between, center);
                                dt {
                                    font-size: 16px;
                                }
                                dd {
                                    font-size: 16px;
                                    font-weight: 600;
                                }
                            }
                            &.volume {
                                dt {
                                    @include flexLayout(row, space-between, center);
                                    font-size: 16px;
                                    button {
                                        font-size: 14px;
                                        background-color: #fff;
                                        border: 1px solid #292727;
                                        border-radius: 5px;
                                        min-width: 90px;
                                        height: 36px;
                                        background-color: #292727;
                                        color: #fff;
                                        &:hover {
                                            border-color: #292727;
                                            background-color: #fff;
                                            color: #292727;
                                        }
                                    }
                                }
                                dd {
                                    input {
                                        &[inputmode=decimal] {
                                            text-align: right;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@include mediaQuery(mobile) {
    .layer_popup {
        .pop_data {
            width: calc(100% - 8rem) !important;
            padding: 6rem 4rem;
            border-radius: 3rem;
            gap: 4rem;
            .head {
                gap: 5rem;
                margin-bottom: 4rem;
                h6 {
                    width: calc(100% - 9rem);
                    font-size: 3.8rem;
                }
                button {
                    width: 3rem;
                    height: 3rem;
                    background-size: 100%;
                }
            }
        }
        &#itemLotPopup {
            .pop_data {
                padding: 4rem;
                .body {
                    max-height: 60rem;
                    > ul {
                        gap: 2rem;
                        li {
                            padding-bottom: 4rem;
                            gap: 2rem;
                            dl {
                                dt {
                                    white-space: nowrap;
                                }
                                &.lot,
                                &.stock {
                                    @include flexLayout(row, space-between, center);
                                    dt {
                                        font-size: 2.4rem;
                                    }
                                    dd {
                                        font-size: 2.4rem;
                                        span {
                                            &.t,
                                            &.mg {
                                                display: none;
                                            }
                                        }
                                    }
                                }
                                &.volume {
                                    dt {
                                        @include flexLayout(row, space-between, center);
                                        font-size: 2.4rem;
                                        button {
                                            font-size: 2.4rem;
                                            border-radius: 0.3rem;
                                            min-width: auto;
                                            height: auto;
                                            padding: 0.5rem 2rem;
                                        }
                                    }
                                    dd {
                                        .unit_t,
                                        .unit_mg {
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}