.dataTables_wrapper {
    .top_group {
        width: 100%;
        @include flexLayout(row, space-between, center);
        flex-direction: row-reverse;
        margin-bottom: 20px;
        > div {
            float: inherit;
            @include flexLayout(row, flex-start, center);
            flex-direction: row-reverse;
            gap: 5px;
            > label {
                @include flexLayout(row, flex-start, center);
                gap: 10px;
                font-size: 16px;
                font-weight: 500;
                color: #595959;
            }
            #excelBtn {
                border: none;
                background-color: #27ae60;
                color: #fff;
                img {
                    width: 30px;
                }
            }
        }
        .dataTables_length {
            select {
                height: 40px;
                border-radius: 10px;
                border: 1px solid #e6e8eb;
                font-size: 16px;
                padding: 0 15px;
            }
        }
        .dataTables_filter {
            margin-top: 0;
            input {
                height: 40px;
                margin-left: 0;
                border-radius: 10px;
                border: 1px solid #e6e8eb;
                padding: 0 15px;
                color: #292929;
                @include placeholder(#c3c3c5);
                transition: all .4s;
                &:focus {
                    border-color: #612d44;
                }
            }
        }
    }
    table {
        &.dataTable {
            border-bottom: 1px solid #d1d5d9;
            border-collapse: collapse;
            thead {
                tr {
                    border-top: 1px solid #d1d5d9;
                    border-bottom: 1px solid #d1d5d9;
                    th {
                        background-color: #f5f6f7;
                        height: 44px;
                        color: #797979;
                        font-weight: 500;
                        box-sizing: border-box;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        border-bottom: 1px solid #d1d5d9;
                        border-right: 1px solid #d1d5d9;
                        &:last-child {
                            border-right: none;
                        }
                        &.sorting {
                            &::after,
                            &::before {
                                opacity: 1;
                                color: #a7a7a7;
                            }

                        }
                        &.sorting_asc {
                            &::before {
                                opacity: 1;
                                color: #494949;
                            }
                        }
                        &.sorting_desc {
                            &::after {
                                opacity: 1;
                                color: #494949;
                            }
                        }
                    }
                }
            }
            tbody {
                tr {
                    td {
                        padding: 10px;
                        border-right: 1px solid #d1d5d9;
                        word-break: break-all;
                        &:first-child {
                            border-left: none;
                        }
                        &:last-child {
                            border-right: none;
                        }
                        a {
                            &.item-link {
                                font-weight: 700;
                                color: #612d44;
                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                        &.chemName {
                            .text {
                                @include ellipsis(1);
                            }
                        }
                    }
                    &.odd {
                        >* {
                            box-shadow: none;
                        }
                    }
                    &.low-stock {
                        background-color:rgba(245, 133, 133, 0.3);
                    }
                }
            }
        }
    }
    .bottom_group {
        width: 100%;
        position: relative;
        margin-top: 25px;
        @include flexLayout(row, center, center);
        .dataTables_info {
            float: inherit;
            padding-top: 0;
            @include positionLayout(absolute, y);
            left: 0;
            font-size: 16px;
            i {
                color: #612d44;
                font-weight: 500;
            }
        }
        .dataTables_paginate {
            float: inherit;
            padding-top: 0;
            @include flexLayout(row, center, center);
            gap: 4px;
            margin-top: 0;
            a {
                &.paginate_button {
                    width: 38px;
                    height: 38px;
                    border: none;
                    padding: 0;
                    margin: 0;
                }
                &.disabled {
                    opacity: 0.3;
                }
            }
            > a {
                &.paginate_button {
                    text-indent: -99999px;
                    &.previous {
                        background: url(/images/svg/paging_prev.svg) no-repeat center center;
                        background-size: 8px;
                    }
                    &.next {
                        background: url(/images/svg/paging_next.svg) no-repeat center center;
                        background-size: 8px;
                    }
                }
            }
            > span {
                @include flexLayout(row, center, center);
                gap: 5px;
                a {
                    &.paginate_button {
                        @include flexLayout(row, center, center);
                        background: none;
                        &.current {
                            background-color: #e5e8ec;
                            border-radius: 5px;
                            color: #292929 !important;
                        }
                    }
                }
            }
        }
    }
}
@include mediaQuery(mobile) {
    .dataTables_wrapper {
        .top_group {
            margin-bottom: 2rem;
            flex-direction: column-reverse;
            gap: 1rem;
            > div {
                display: inline-block;
                > label {
                    gap: 1rem;
                    font-size: 2.4rem;
                    white-space: nowrap;
                }
                #excelBtn {
                    display: none;
                }
            }
            .dataTables_length {
                position: absolute;
                right: 0;
                top: -9.7rem;
                select {
                    height: 6rem;
                    border-radius: 2rem;
                    font-size: 2.4rem;
                    padding: 0 3rem;
                }
            }
            .dataTables_filter {
                width: 100%;
                input {
                    width: 100%;
                    height: 6rem;
                    border-radius: 2rem;
                    padding: 0 3rem;
                    font-size: 2.4rem;
                }
            }
        }
        table {
            &.dataTable {
                table-layout: auto;
                thead {
                    tr {
                        th {
                            height: 7rem;
                            font-size: 2.4rem;
                            &.sorting {
                                &::after {
                                    top: 53%;
                                }
                                &::before {
                                    bottom: 53%;
                                }
                        
                            }
                            &.sorting_asc {
                                &::before {
                                    bottom: 53%;
                                }
                            }
                            &.sorting_desc {
                                &::after {
                                    top: 53%;
                                }
                            }
                            &.last_th {
                                border-right: none;
                            }
                        }
                    }
                }

                tbody {
                    tr {
                        td {
                            padding: 1rem 1rem;
                            height: 6rem;
                            font-size: 2.4rem;
                            &.last_td {
                                border-right: none;
                            }
                            &.dtr-control {
                                white-space: nowrap;
                            }
                        }
                        &.child {
                            padding: 0;
                            td {
                                &.child {
                                    padding: 0;
                                    ul {
                                        &.dtr-details {
                                            width: 100%;
                                            @include flexLayout(column, flex-start, stretch);
                                            gap: 1.5rem;
                                            padding: 1.5rem 0;
                                            li {
                                                width: 100%;
                                                padding: 1.5rem 0;
                                                border-bottom: 1px solid #d1d5d9;
                                                @include flexLayout(row, flex-start, stretch);
                                                font-size: 2.4rem;
                                                gap:2rem;
                                                .dtr-title {
                                                    white-space: nowrap;
                                                    line-height: 1.4;
                                                }
                                                .dtr-data {
                                                    line-height: 1.4;
                                                }
                                                &:last-child {
                                                    border-bottom: none;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .bottom_group {
            margin-top: 2.5rem;
            @include flexLayout(column, center, center);
            gap: 1rem;
            .dataTables_info {
                position: static;
                font-size: 2.8rem;
                transform: none;
                width: 100%;
                text-align: right;
            }
            .dataTables_paginate {
                gap: 1rem;
                a {
                    &.paginate_button {
                        width: 6rem;
                        height: 6rem;
                        font-size: 2.8rem;
                    }
                }
                > a {
                    &.paginate_button {
                        &.previous {
                            background-size: 1.2rem;
                        }
                        &.next {
                            background-size: 1.2rem;
                        }
                    }
                }
                > span {
                    a {
                        &.paginate_button {
                            &.current {
                                border-radius: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}