input {
    &.inputText {
        width: 100%;
        height: 40px;
        border-radius: 10px;
        border: 1px solid #e6e8eb;
        padding: 0 15px;
        color: #292929;
        @include placeholder(#c3c3c5);
        &:disabled {
            background-color: #f6f7f9;
        }
        &:focus {
            border-color: #612d44;
        }
        &[readonly=readonly] {
            background-color: #f6f7f9;
        }
    }
}
@include mediaQuery(mobile) {
    input {
        &.inputText {
            height: 8rem;
            border-radius: 2rem;
            padding: 0 3rem;
            font-size: 2.6rem;
        }
    }
    input[type="date"] {
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 100%;
        max-width: 100%;
        min-height: 8rem;
    }
    input[type="date"]::-webkit-calendar-picker-indicator {
        background-position: right center;
    }
}