.content {
    &.image_mgmt {
        .gallery {
            margin-top: 25px;
            @include flexLayout(column, flex-start, stretch);
            gap: 20px;
            .top {
                @include flexLayout(row, space-between, flex-end);
                > p {
                    font-size: 16px;
                    color: #595959;
                    > i {
                        font-size: 18px;
                        font-weight: 700;
                        color: #007afe;
                    }
                }
                .ctrl {
                    @include flexLayout(row, flex-start, center);
                    gap: 5px;
                }
            }
            .data {
                @include gridLayout(5, 45px, 15px);
                > ul {
                    .thumb {
                        width: 100%;
                        height: 250px;
                        background-color: #fff;
                        border-radius: 15px;
                        border: 1px solid #e6e8eb;
                        @include flexLayout(row, center, center);
                        position: relative;
                        overflow: hidden;
                        &.on {
                            border: 2px solid #007afe;
                        }
                        .checkBox {
                            position: absolute;
                            left: 15px;
                            top: 15px;
                        }
                        img {
                            height: 100%;
                        }
                    }
                    .name {
                        margin-top: 10px;
                    }
                    .info {
                        margin-top: 14px;
                        a {
                            color: #595959;
                        }
                    }
                }
            }
        }
    }
}
@include mediaQuery(mobile) {
    .content {
        &.image_mgmt {
            padding: 6rem 4rem 18rem 4rem;
            .gallery {
                margin-top: 0;
                gap: 2rem;
                .top {
                    align-items: center;
                    >p {
                        font-size: 2.6rem;
                        >i {
                            font-size: 2.8rem;
                        }
                    }
                    .ctrl {
                        .Button {
                            display: none;
                        }
                        .Select {
                            width: 15.6rem !important;
                        }
                    }
                }
                .data {
                    @include gridLayout(2, 3rem, 3rem);
                    > ul {
                        .thumb {
                            height: 33.4rem;
                            border-radius: 3rem;
                            .checkBox {
                                left: 2rem;
                                top: 2rem;
                            }
                        }
                        .name {
                            margin-top: 2rem;
                            font-size: 2.4rem;
                        }
                        .info {
                            margin-top: 3rem;
                            a {
                                font-size: 2.4rem;
                                @include ellipsis(1);
                            }
                        }
                    }
                }
            }
        }
    }
}